
# HTID:15655668: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15655668:
RewriteEngine On
RewriteRule ^(public)($|/) - [L,NC]
RewriteRule ^([^/]+)/? index.php?url=$1 [L,QSA]
# HTID:16001877: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /blog http://google.com
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:16001877:

# HTID:17314330: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 302 /blog http://google.com
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:17314330:
